.checkout {
  &__line-item-image {
    @extend .w-56, .h-64, .object-cover;
  }
}

.custom-container {
  .checkout-error {
    margin: 0;
    padding-bottom: 6px;
  }

  .checkout-summary {
    position: sticky;
    top: 15%;
  }
}
.main {
  border-bottom: 1px solid gray;
  width: 100%;
  .ant-card {
    margin-bottom: 16px;
  }
}
.column-container {
  background-color: #fff;
  padding: 44px;
  border-radius: 20px;
}
.stepper {
  .ant-steps {
    background-color: #eaeaea;
    padding: 5px 13px;
    border-radius: 5px;
    padding-bottom: 2px;
  }
  .ant-steps-navigation .ant-steps-item::before {
    background-color: #eaeaea;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
    background-color: #9d9d9d;
    border: none;
  }
  .ant-steps-navigation .ant-steps-item-container {
    padding-bottom: 0px;
  }
  .ant-steps-navigation .ant-steps-item::after {
    top: 70%;
  }
  .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #fff;
    border-color: #9d9d9d;
  }
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: #9d9d9d;
  }
  .ant-steps-item-icon .ant-steps-icon {
    top: -2.5px;
  }
  .ant-steps-item-icon {
    height: 28px;
    width: 28px;
  }
  .ant-steps-item-container:focus {
    outline: none;
  }
  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-title,
  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-subtitle,
  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-description {
    color: #808080;
  }
  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-icon {
    border-color: #808080;
  }
  .ant-steps
    .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-icon
    .ant-steps-icon {
    color: #808080;
  }
}
.heading-container {
  display: flex;
  justify-content: space-between;
  .ant-btn {
    background-color: #d0d0d0;
    font-weight: 500;
    border-radius: 8px;
  }
  .ant-btn:hover,
  .ant-btn:focus {
    color: #000;
    border: none;
  }
}

.cards-container {
  .ant-card {
    border: 1px solid #292a2c;
    border-radius: 12px;
  }
  width: 100%;
}
.footer {
  padding: 53px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 22px;
  border-radius: 10px;
}
.next {
  min-width: 398px;
  background-color: black;
  border: none;
  border-radius: 12px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: black;
  }
  & > div {
    margin-right: 5px !important;
  }
}

.address-type {
  .ant-radio-button-wrapper {
    margin-right: 35px;
    border-radius: 12px;
    border: 1px solid #292a2c;
  }
  .ant-radio-button-wrapper-checked {
    background: #5c5e62;
    color: #fff;
  }
  // .ant-radio-button-wrapper > .ant-radio-button {
  //   border: none;
  // }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #fff;
    border-color: #292a2c;
  }
  .ant-radio-button-wrapper:hover {
    color: #292a2c;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
}

.collapse-container {
  border: none;
  & > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
    background-color: #fff;
  }
  & > .ant-collapse-item {
    border-bottom: 0 !important;
    border: 0 !important;
  }
  .anticon {
    display: none !important;
  }
  .ant-collapse-content {
    border-top: none;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
  .ant-radio-checked .ant-radio-inner {
    color: black !important;
  }
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: black;
  }
  .ant-radio-checked .ant-radio-inner {
    color: black;
  }
}

.radio-wrapper {
  display: flex;
  font-weight: 700;
  flex-direction: column;
  .ant-radio-wrapper {
    display: flex;
    align-items: flex-start;
  }
  span.ant-radio + * {
    padding-left: 21px;
  }
  .ant-radio-inner {
    border-color: black !important;
  }
  .ant-radio-inner::after {
    background-color: black;
  }
  div {
    font-weight: normal;
  }
}

.quantity {
  &:focus {
    outline: none;
  }
}

.product-image {
  height: 67px;
  width: 66px;

  img {
    border-radius: 10px;
  }
}
.success {
  .ant-result-success .ant-result-icon > .anticon {
    color: #eaeaea;
  }
}
.site-navigation-steps {
  .anticon {
    vertical-align: 0;
  }
}
